/* styles.css */

  /* Slider track */
  div[data-baseweb="slider"] > div {
    background: #FFA500; /* Ometis orange */
    border-radius: 10px; /* Curved corners */
}

/* Slider thumb */
div[data-baseweb="slider"] > div > div {
    background-color: white; /* White slider handle */
}